.aboutProgrammImageChildgarden.hide-xl
	.aboutProgrammImageChildgarden__star.aboutProgrammImageChildgarden__star_one
		img(src="img/programm/header/star-25.svg", alt="alt")
	.aboutProgrammImageChildgarden__star.aboutProgrammImageChildgarden__star_two
		img(src="img/programm/header/star-23.svg", alt="alt")
	.aboutProgrammImageChildgarden__star.aboutProgrammImageChildgarden__star_three
		img(src="img/programm/header/star-21.svg", alt="alt")
	.aboutProgrammImageChildgarden__star.aboutProgrammImageChildgarden__star_four
		img(src="img/programm/header/star-23.svg", alt="alt")
	.aboutProgrammImageChildgarden__star.aboutProgrammImageChildgarden__star_five
		img(src="img/programm/header/star-11.svg", alt="alt")
	.aboutProgrammImageChildgarden__star.aboutProgrammImageChildgarden__star_six
		img(src="img/programm/header/star-13.svg", alt="alt")
	.aboutProgrammImageChildgarden__circle.aboutProgrammImageChildgarden__circle_one
	.aboutProgrammImageChildgarden__circle.aboutProgrammImageChildgarden__circle_two
	.aboutProgrammImageChildgarden__circle.aboutProgrammImageChildgarden__circle_three
	.aboutProgrammImageChildgarden__circle.aboutProgrammImageChildgarden__circle_four
	.aboutProgrammImageChildgarden__circle.aboutProgrammImageChildgarden__circle_five
	.aboutProgrammImageChildgarden__circle.aboutProgrammImageChildgarden__circle_six
	.aboutProgrammImageChildgarden__circle.aboutProgrammImageChildgarden__circle_seven
	.aboutProgrammImageChildgarden__img
		img(src="img/programm/childgarden.png", alt="alt")
	.aboutProgrammImageChildgarden__text
		span.aboutProgrammImageChildgarden__text-title Детский
		span.aboutProgrammImageChildgarden__text-title сад
		span.aboutProgrammImageChildgarden__text-subtitle от 3-6 лет
.aboutProgrammBg__star.aboutProgrammBg__star_one.hide-lg
	img(src="img/programm/objects/star-27.svg", alt="alt")
.aboutProgrammBg__star.aboutProgrammBg__star_two.hide-lg
	img(src="img/programm/objects/star-26.svg", alt="alt")
.aboutProgrammBg__star.aboutProgrammBg__star_three.hide-lg
	img(src="img/programm/objects/star-26.svg", alt="alt")
.aboutProgrammBg__star.aboutProgrammBg__star_four.hide-lg
	img(src="img/programm/objects/star-27.svg", alt="alt")
.aboutProgrammBg__circle.aboutProgrammBg__circle_one.hide-lg
.aboutProgrammBg__circle.aboutProgrammBg__circle_two.hide-lg
.aboutProgrammBg__circle.aboutProgrammBg__circle_three.hide-lg
.aboutProgrammBg__circle.aboutProgrammBg__circle_four.hide-lg
section.aboutProgrammBlock.aboutProgrammBlock_padding.padding-75.padding-125
	.wrapper
		.aboutProgrammContainer
			.aboutProgrammText
				h3.aboutProgrammText__title О программе
				p.aboutProgrammText__descr Монтессори-сад - это пространство, в котором дети учатся самостоятельно удовлетворять свои потребности, соблюдая равные для всех правила и используя материалы по назначению. Основные правила группы базируются на уважении: себя, другого, окружающего пространства.
				p.aboutProgrammText__descr Ребенок в нашем саду - прежде всего личность, которая имеет право на своё мнение, на свой личный темп, на свободный выбор, право на ошибку и на повторение. Дети проживают свои личные открытия, так как ребенок самостоятельно познает материал.
				p.aboutProgrammText__descr Педагог наблюдает и помогает ребенку через индивидуальную презентацию, учитывая особенности каждого и не сравнивая с другими. 
				p.aboutProgrammText__descr Монтессори-среда представлена зонами разного направления развития.
				a(href="javascript:;" data-fancybox data-src="#modal" data-animation-duration="700").btn-product.btn-product_yellow Оставить заявку!