section.schoolCartBlock
	.wrapper
		.schoolCartContainer
			.schoolCart
				.schoolCart__header
					.schoolCart__starGreen.schoolCart__starGreen_one
						img(src="img/school-cart/objects/green/star-12.svg", alt="alt")
					.schoolCart__starGreen.schoolCart__starGreen_two
						img(src="img/school-cart/objects/green/star-13.svg", alt="alt")
					.schoolCart__starGreen.schoolCart__starGreen_three
						img(src="img/school-cart/objects/green/star-14.svg", alt="alt")
					.schoolCart__circleGreen.schoolCart__circleGreen_one
					.schoolCart__circleGreen.schoolCart__circleGreen_two
					.schoolCart__circleGreen.schoolCart__circleGreen_three
				.schoolCart__text.schoolCart__text_green
					h4 Вместе <br>с мамой
					span от 1,5-3 лет
					.schoolCart__bottom
						.schoolCart__bottomStarGreen.schoolCart__bottomStarGreen_one
							img(src="img/school-cart/objects/star-9.svg", alt="alt")
						.schoolCart__bottomStarGreen.schoolCart__bottomStarGreen_two
							img(src="img/school-cart/objects/star-10.svg", alt="alt")
						.schoolCart__bottomStarGreen.schoolCart__bottomStarGreen_three
							img(src="img/school-cart/objects/star-11.svg", alt="alt")
						.schoolCart__bottomCircleGreen.schoolCart__bottomCircleGreen_one
						.schoolCart__bottomCircleGreen.schoolCart__bottomCircleGreen_two
						.schoolCart__bottomCircleGreen.schoolCart__bottomCircleGreen_three
						.schoolCart__bottomCircleGreen.schoolCart__bottomCircleGreen_four
				.schoolCart__img.schoolCart__img_green
					img(src="img/school-cart/cart-img-1.svg", alt="alt")
				a(href="#").btn-product.btn-product_green Узнать подробней
			.schoolCart
				.schoolCart__header
					.schoolCart__starPurple.schoolCart__starPurple_one
						img(src="img/school-cart/objects/purple/star-18.svg", alt="alt")
					.schoolCart__starPurple.schoolCart__starPurple_two
						img(src="img/school-cart/objects/purple/star-19.svg", alt="alt")
					.schoolCart__starPurple.schoolCart__starPurple_three
						img(src="img/school-cart/objects/purple/star-20.svg", alt="alt")
					.schoolCart__circlePurple.schoolCart__circlePurple_one
					.schoolCart__circlePurple.schoolCart__circlePurple_two
					.schoolCart__circlePurple.schoolCart__circlePurple_three
				.schoolCart__text.schoolCart__text_purple
					h4 Начальная <br>школа
					span от 6-9 лет
					.schoolCart__bottom
						.schoolCart__bottomStarPurple.schoolCart__bottomStarPurple_one
							img(src="img/school-cart/objects/star-10.svg", alt="alt")
						.schoolCart__bottomStarPurple.schoolCart__bottomStarPurple_two
							img(src="img/school-cart/objects/star-11.svg", alt="alt")
						.schoolCart__bottomCirclePurple.schoolCart__bottomCirclePurple_one
				.schoolCart__img.schoolCart__img_purple
					img(src="img/school-cart/cart-img-3.svg", alt="alt")
				a(href="#").btn-product.btn-product_purple Узнать подробней