section.tablePriceBlock
	.wrapper
		.tablePriceContainer
			table.tablePrice.tablePrice_yellow
				thead.tablePrice__heading.tablePrice__heading_yellow
					tr
						th Формат посещения
						th Центр
						th Цена в месяц
				tbody.tablePrice__body
					tr
						td Полный месяц 
							span 8.00 - 19.00
						td Be Friends
						td 23000 руб.
					tr
						td Полный месяц 
							span 8.00 - 19.00
						td Оле Лукойе
						td 20000 руб.
					tr
						td Полный месяц 
							span 8.00 - 13.30
						td Оле Лукойе
						td 15000 руб.
					tr
						td Полный месяц 
							span 8.00 - 16.00
						td Оле Лукойе
						td 17000 руб.
					tr
						td 4 дня в неделю
							span 8.00 - 19.00
						td Оле Лукойе
						td 16500 руб.
					tr
						td 4 дня в неделю
							span 8.00 - 13.30
						td Оле Лукойе
						td 12500 руб.
					tr
						td 4 дня в неделю
							span 8.00 - 16.00
						td Оле Лукойе
						td 14000 руб.
			table.tablePrice.tablePrice_yellow
				thead.tablePrice__heading.tablePrice__heading_yellow
					tr
						th Факультативы
						th Центр
						th Цена в месяц
				tbody.tablePrice__body
					tr
						td Ритмика:
							span 8 занятий в месяц
						td Оле Лукойе
						td 1600 руб.
					tr
						td Занятные выходные:
							span 8 дней в месяц
						td Оле Лукойе
						td 3600 руб.
					tr
						td Рисование:
							span Разово
						td Оле Лукойе
						td 300 руб.
		.tableDescription
			p Для детей из одной семьи действует скидка 15% от стоимости посещения сада или школы. 
			p Скидка не распространяется на отдельные занятия вне формата сада или школы.