.aboutProgrammImage
	.aboutProgrammImage__star.aboutProgrammImage__star_one
		img(src="img/programm/header/star-25.svg", alt="alt")
	.aboutProgrammImage__star.aboutProgrammImage__star_two
		img(src="img/programm/header/star-23.svg", alt="alt")
	.aboutProgrammImage__star.aboutProgrammImage__star_three
		img(src="img/programm/header/star-21.svg", alt="alt")
	.aboutProgrammImage__star.aboutProgrammImage__star_four
		img(src="img/programm/header/star-23.svg", alt="alt")
	.aboutProgrammImage__star.aboutProgrammImage__star_five
		img(src="img/programm/header/star-11.svg", alt="alt")
	.aboutProgrammImage__star.aboutProgrammImage__star_six
		img(src="img/programm/header/star-13.svg", alt="alt")
	.aboutProgrammImage__circle.aboutProgrammImage__circle_one
	.aboutProgrammImage__circle.aboutProgrammImage__circle_two
	.aboutProgrammImage__circle.aboutProgrammImage__circle_three
	.aboutProgrammImage__circle.aboutProgrammImage__circle_four
	.aboutProgrammImage__circle.aboutProgrammImage__circle_five
	.aboutProgrammImage__circle.aboutProgrammImage__circle_six
	.aboutProgrammImage__circle.aboutProgrammImage__circle_seven
	.aboutProgrammImage__img
		img(src="img/programm/mom.png", alt="alt")
	.aboutProgrammImage__text
		span.aboutProgrammImage__text-title Вместе
		span.aboutProgrammImage__text-title с мамой
		span.aboutProgrammImage__text-subtitle от 1,5-3 лет
.aboutProgrammBg__star.aboutProgrammBg__star_one
	img(src="img/programm/objects/star-27.svg", alt="alt")
.aboutProgrammBg__star.aboutProgrammBg__star_two
	img(src="img/programm/objects/star-26.svg", alt="alt")
.aboutProgrammBg__star.aboutProgrammBg__star_three
	img(src="img/programm/objects/star-26.svg", alt="alt")
.aboutProgrammBg__star.aboutProgrammBg__star_four
	img(src="img/programm/objects/star-27.svg", alt="alt")
.aboutProgrammBg__circle.aboutProgrammBg__circle_one
.aboutProgrammBg__circle.aboutProgrammBg__circle_two
.aboutProgrammBg__circle.aboutProgrammBg__circle_three
.aboutProgrammBg__circle.aboutProgrammBg__circle_four
section.aboutProgrammBlock
	.wrapper
		.aboutProgrammContainer
			.aboutProgrammText
				h3.aboutProgrammText__title О программе
				p.aboutProgrammText__descr Программа Вместе с мамой - это занятия для детей в подготовленном монтессори-пространстве под наблюдением значимых взрослых, в сопровождении монтессори-педагога.
				h3.aboutProgrammText__title Цели
				p.aboutProgrammText__descr Получение ребенком навыков самообслуживания сенсорное и физическое развитие ребенка демонстрация родителям потребностей и возможностей ребенка знакомство родителей с инструментами взаимодействия с ребенком и наблюдения за ним в группе и дома.
				h3.aboutProgrammText__title Потребности ребенка от 1,5 до 3 лет
				p.aboutProgrammText__descr Быть рядом со значимым взрослым - иначе ребенок испытывает стресс.
				p.aboutProgrammText__descr Жить в порядке и постоянстве – без них мир малыша похож на хаос и ему страшно.
				p.aboutProgrammText__descr Познавать мир самому – есть, смотреть, слушать, трогать, сыпать, лить, стучать, скользить, брызгаться, застегивать - только так человек получает опыт.
				p.aboutProgrammText__descr Развивать слух, зрение, цветовое и пространственное восприятие, речь –  до 3-6 лет формируются органы чувств, зрения, слуха, речи.
				p.aboutProgrammText__descr Двигаться без ограничения – в период до 3 лет ребенок активно растет.