section.centerCartBlock
	.wrapper
		.centerCartContainer
			.centerCart
				.centerCart__img
					img(src="img/programm/mom/img-1.jpg", alt="alt")
				h3.centerCart__title Свободная работа
				.centerCart__text
					p.centerCart__descr Свободная работа - это формат занятия, в течение которого ребенок САМ выбирает вид деятельности. Родители не вмешиваются в выбор, не наставляют, что лучше, а находятся рядом, чтобы помочь в случае необходимости. Только свободный выбор занятия, будь это пересыпание, рисование или игра в бассейне с шарами, отражает реальные потребности ребенка. Здесь родители учатся наблюдать и помогать, а не делать за ребенка. Ребенок же не только получает навыки, но и учится делать выбор и завершать начатое.
			.centerCart
				.centerCart__img
					img(src="img/programm/mom/img-2.jpg", alt="alt")
				h3.centerCart__title Музыкальный круг
				.centerCart__text
					p.centerCart__descr Музыкальный круг - это формат групповой работы детей вместе с родителями на “круге”. Здесь первоначально родители, а потом и дети, подпевают педагогу, играют в пальчиковые игры, отстукивают ритмы на музыкальных инструментах. Мы используем методику К. Орфа, которая настроена на развитие музыкального, ритмического слуха у детей.