section.schoolCartBlock
	.wrapper
		.schoolCartContainer
			.schoolCart
				.schoolCart__header
					.schoolCart__starYellow.schoolCart__starYellow_one
						img(src="img/school-cart/objects/yellow/star-15.svg", alt="alt")
					.schoolCart__starYellow.schoolCart__starYellow_two
						img(src="img/school-cart/objects/yellow/star-16.svg", alt="alt")
					.schoolCart__starYellow.schoolCart__starYellow_three
						img(src="img/school-cart/objects/yellow/star-17.svg", alt="alt")
					.schoolCart__circleYellow.schoolCart__circleYellow_one
					.schoolCart__circleYellow.schoolCart__circleYellow_two
					.schoolCart__circleYellow.schoolCart__circleYellow_three
				.schoolCart__text.schoolCart__text_yellow
					h4 Детский <br>сад 
					span от 3-6 лет
					.schoolCart__bottom
						.schoolCart__bottomStarYellow.schoolCart__bottomStarYellow_one
							img(src="img/school-cart/objects/star-9.svg", alt="alt")
						.schoolCart__bottomStarYellow.schoolCart__bottomStarYellow_two
							img(src="img/school-cart/objects/star-10.svg", alt="alt")
						.schoolCart__bottomStarYellow.schoolCart__bottomStarYellow_three
							img(src="img/school-cart/objects/star-11.svg", alt="alt")
						.schoolCart__bottomStarYellow.schoolCart__bottomStarYellow_four
							img(src="img/school-cart/objects/star-8.svg", alt="alt")
						.schoolCart__bottomCircleYellow.schoolCart__bottomCircleYellow_one
						.schoolCart__bottomCircleYellow.schoolCart__bottomCircleYellow_two
				.schoolCart__img.schoolCart__img_yellow
					img(src="img/school-cart/cart-img-2.svg", alt="alt")
				a(href="#").btn-product.btn-product_yellow Узнать подробней
			.schoolCart
				.schoolCart__header
					.schoolCart__starPurple.schoolCart__starPurple_one
						img(src="img/school-cart/objects/purple/star-18.svg", alt="alt")
					.schoolCart__starPurple.schoolCart__starPurple_two
						img(src="img/school-cart/objects/purple/star-19.svg", alt="alt")
					.schoolCart__starPurple.schoolCart__starPurple_three
						img(src="img/school-cart/objects/purple/star-20.svg", alt="alt")
					.schoolCart__circlePurple.schoolCart__circlePurple_one
					.schoolCart__circlePurple.schoolCart__circlePurple_two
					.schoolCart__circlePurple.schoolCart__circlePurple_three
				.schoolCart__text.schoolCart__text_purple
					h4 Начальная <br>школа 
					span от 6-9 лет
					.schoolCart__bottom
						.schoolCart__bottomStarPurple.schoolCart__bottomStarPurple_one
							img(src="img/school-cart/objects/star-10.svg", alt="alt")
						.schoolCart__bottomStarPurple.schoolCart__bottomStarPurple_two
							img(src="img/school-cart/objects/star-11.svg", alt="alt")
						.schoolCart__bottomCirclePurple.schoolCart__bottomCirclePurple_one
				.schoolCart__img.schoolCart__img_purple
					img(src="img/school-cart/cart-img-3.svg", alt="alt")
				a(href="#").btn-product.btn-product_purple Узнать подробней