section.tablePriceBlock
	.wrapper
		.tablePriceContainer
			table.tablePrice.tablePrice_green
				thead.tablePrice__heading.tablePrice__heading_green
					tr
						th Формат посещения
						th Центр
						th Цена в месяц
				tbody.tablePrice__body
					tr
						td 4 дня в месяц
						td Оле Лукойе
						td 2000 руб.
					tr
						td 12 посещений
						td Оле Лукойе
						td 4000 руб.
					tr
						td 8 посещений
						td Оле Лукойе
						td 3000 руб.
					tr
						td 4 посещения
						td Оле Лукойе
						td 1550 руб.
					tr
						td Разово
						td Оле Лукойе
						td 400 руб.