extends ../modules/head

block variables
	- var pageTitle = 'Вместе с мамой'

block content
	// Circle-color Block
	include ../modules/blocks/circle-green
	main
		// Programm Block
		include ../modules/blocks/page-mom/about-programm_mom
		// Center Cart Block
		include ../modules/blocks/center-cart
		// Table Mom Block
		include ../modules/blocks/page-mom/table-mom
		// Mom Cart Block
		include ../modules/blocks/page-mom/mom-cart