extends ../modules/head

block variables
	- var pageTitle = 'Название центра 2'

block content
	include ../modules/blocks/circle-violet
	// Slider-header Block
	include ../modules/blocks/page-center/slider-center
	main
		include ../modules/blocks/page-center/about-center
		include ../modules/blocks/center-cart