extends ../modules/head

block variables
	- var pageTitle = 'Методики'

block content
	// Circle-color Block
	include ../modules/blocks/circle-violet
	main
		// Advantages Block
		section.advantagesBlock.padding-75.padding-125
			.advantagesBlock__star.advantagesBlock__star_one.hide-lg
				img(src="img/advantages/objects/star-24.svg", alt="alt")
			.advantagesBlock__star.advantagesBlock__star_two.hide-lg
				img(src="img/advantages/objects/star-23.svg", alt="alt")
			.advantagesBlock__star.advantagesBlock__star_three.hide-lg
				img(src="img/advantages/objects/star-22.svg", alt="alt")
			.advantagesBlock__circle.advantagesBlock__circle_one.hide-lg
			.advantagesBlock__circle.advantagesBlock__circle_two.hide-lg
			.advantagesBlock__circle.advantagesBlock__circle_three.hide-lg
			.advantagesBlock__circle.advantagesBlock__circle_four.hide-lg
			.wrapper
				h3.advantagesBlock__title Почему метод Монтессори актуален и востребован в мире?
				.advantagesContainer
					.advantagesCart
						.advantagesCart__img
							img(src="img/advantages/advantage-5.svg", alt="alt")
						.advantagesCart__text
							p Доступность разнообразных видов деятельности раскрывает потенциал ребенка.
					.advantagesCart
						.advantagesCart__img
							img(src="img/advantages/advantage-3.svg", alt="alt")
						.advantagesCart__text
							p “Богатая” монтессори-среда дает всесторонние знания
					.advantagesCart
						.advantagesCart__img
							img(src="img/advantages/advantage-8.svg", alt="alt")
						.advantagesCart__text
							p Развитие в собственном темпе без оценок и сравнений формирует успешность ребенка
					.advantagesCart
						.advantagesCart__img
							img(src="img/advantages/advantage-1.svg", alt="alt")
						.advantagesCart__text
							p Билингвальный метод развивает речь, позволяет общаются на русском и английском языках в течение всего дня
					.advantagesCart
						.advantagesCart__img
							img(src="img/advantages/advantage-7.svg", alt="alt")
						.advantagesCart__text
							p Индивидуальный подход педагогов позволяет уделить внимание каждому, учесть особенности ребенка
					.advantagesCart
						.advantagesCart__img
							img(src="img/advantages/advantage-4.svg", alt="alt")
						.advantagesCart__text
							p Навык выбора деятельности формирует характер/внутренний стержень и ответственность
					.advantagesCart
						.advantagesCart__img
							img(src="img/advantages/advantage-6.svg", alt="alt")
						.advantagesCart__text
							p Четкие правила взаимодействия и работы в среде Монтессори дают детям уверенность и спокойствие
					.advantagesCart
						.advantagesCart__img
							img(src="img/advantages/advantage-9.svg", alt="alt")
						.advantagesCart__text
							p Воспитание в разновозрастной среде адаптирует к жизни
					.advantagesCart
						.advantagesCart__img
							img(src="img/advantages/advantage-2.svg", alt="alt")
						.advantagesCart__text
							p Взгляд на мир, как на Вселенную, расширяет горизонты ребенка
		// Center Cart Block
		section.centerCartBlock
			.wrapper
				.centerCartContainer
					.centerCart
						.centerCart__img
							img(src="img/methods/img-1.jpg", alt="alt")
						h3.centerCart__title Метод М. Монтессори
						.centerCart__text
							p.centerCart__descr Свою педагогическую систему М. Монтессори называла системой саморазвития детей в специально подготовленной среде.
							p.centerCart__descr "Первейшей обязанностью педагога, работает ли он с новорожденным или ребенком старшего возраста, является признание его как личности и уважение как юного человека", писала Мария Монтессори Любое познание, получение опыта в возрасте до шести лет происходит особым образом. Всё, что происходит в окружающей ребенка среде, воспринимается, перерабатывается и хранится в клетках мозга без прикладывания каких-либо усилий с помощью некой формы бессознательного впитывания. Именно поэтому среда, окружающая ребенка, ее наполненность в соответствии с особенностями и возрастом детей, а также подготовленные педагоги и родители, играют решающую роль в становлении ребенка.
					.centerCart
						.centerCart__img
							img(src="img/methods/img-2.jpg", alt="alt")
						h3.centerCart__title Монтессори-педагог
						.centerCart__text
							p.centerCart__descr Для Монтессори-педагога важен каждый ребенок и его:
							ul
								li выбор материала и действий
								li открытия – «Шар катится, а куб стоит»…
								li концентрация внимания
								li умение доводить дело до конца
								li постановка целей и их достижение
								li опыт общения и ссор
							p.centerCart__descr Что делает Монтессори-педагог?
							ul
								li наблюдает за ребенком
								li заинтересовывает
								li помогает ребенку Все сделать самому
								li позволяет ребенку делать открытия
								li демонстрирует пример поведения
								li ухаживает за средой Монтессори, дополняя ее актуальным ребенку материалом
								li ведет дневники наблюдения, чтобы отслеживать зоны интереса и развития, и реагировать на проблемы
					.centerCart
						.centerCart__img
							img(src="img/methods/img-3.jpg", alt="alt")
						h3.centerCart__title Нормализация ребенка
						.centerCart__text
							p.centerCart__descr Результатом профессиональной работы Монтессори-педагогов считается «нормализация» каждого ребенка Нормализация — уникальный процесс, который М. Монтессори открыла в развитии детей. «Нормализованный ребенок» обладает любовью к порядку, любовью к работе, спонтанной концентрацией, принятием реальности, способностью свободного выбора и самоопределения, послушанием, независимостью, инициативой самодисциплиной и жизнерадостностью.
					.centerCart
						.centerCart__img
							img(src="img/methods/img-4.jpg", alt="alt")
						h3.centerCart__title Развивающая среда
						.centerCart__text
							p.centerCart__descr В Монтессори-педагогике используется специально подготовленная развивающая среда для свободной работы детей. В свободном доступе на открытых полках располагаются дидактические материалы, призванные помочь ребенку самостоятельно приобрести тот или иной опыт. Материалы подбираются с учётом возраста и индивидуальных особенностей детей.
					.centerCart
						.centerCart__img
							img(src="img/methods/img-5.jpg", alt="alt")
						h3.centerCart__title Разновозрастная группа
						.centerCart__text
							p.centerCart__descr Разновозрастная группа – необходимое условие оптимального развития детей. Постоянное общение младших детей со старшими создает благоприятные условия для формирования дружеских отношений, заботы, самостоятельности. Естественная демонстрация разнообразных занятий в группе детей разного возраста мотивирует детей. “Если ему хочется это делать, я бы тоже смог”. Общаясь в разновозрастной группе, маленький ребенок наблюдает за поведением старших детей и понимает, что скоро и он сам станет таким же важным.
					.centerCart
						.centerCart__img
							img(src="img/methods/img-6.jpg", alt="alt")
						h3.centerCart__title Правила в монтессори-группе
						.centerCart__text
							p.centerCart__descr Правила Монтессори-группы – это необходимое условие нормализации группы. Справедливость и равные права в группе, единое понимание вещей позволяет формировать у детей внутреннюю дисциплину и спокойствие.