extends ../modules/head

block variables
	- var pageTitle = 'Название центра 1'

block content
	include ../modules/blocks/circle-violet
	// Slider-header Block
	include ../modules/blocks/page-center/slider-center
	main
		// About Center Block
		include ../modules/blocks/page-center/about-center
		section.programmCenterBlock
			h3.programmCenterBlock__title Направления центра