extends ../modules/head

block variables
	- var pageTitle = 'Главная'

block content
	// Slider-header Block
	include ../modules/blocks/slider-header
	main
		// School-cart Block
		include ../modules/blocks/school-cart
		// Advantages Block
		include ../modules/blocks/advantages
		// Centres Block
		include ../modules/blocks/centres-main
		//Teachers Block
		include ../modules/blocks/teachers-main