extends ../modules/head

block variables
	- var pageTitle = 'Главная'

block content
	// Circle-color Block
	include ../modules/blocks/circle-violet
	// Slider-header Block
	include ../modules/blocks/page-home/slider-header
	main
		// School-cart Block
		include ../modules/blocks/page-home/school-cart
		// Advantages Block
		include ../modules/blocks/page-home/advantages
		// Centres Block
		include ../modules/blocks/page-home/centres-main
		//Montessory Block
		include ../modules/blocks/page-home/about-maria
		//Teachers Block
		include ../modules/blocks/page-home/teachers-main
		//FAQ Block
		include ../modules/blocks/page-home/faq
		//Gallery Block
		include ../modules/blocks/page-home/gallery
		//Gallery Block
		include ../modules/blocks/page-home/contacts-main