extends ../modules/head

block variables
	- var pageTitle = 'Название центра 1'

block content
	include ../modules/blocks/circle-violet
	// Slider-header Block
	.headerCenterSlider.padding-75.padding-125
		.swiper-container.centerSlider
			.swiper-wrapper
				.swiper-slide
					img(src="img/slider-centres/be-friends/center-one-1.jpg", alt="alt")
				.swiper-slide
					img(src="img/slider-centres/be-friends/center-one-2.jpg", alt="alt")
				.swiper-slide
					img(src="img/slider-centres/be-friends/center-one-3.jpg", alt="alt")
				.swiper-slide
					img(src="img/slider-centres/be-friends/center-one-4.jpg", alt="alt")
				.swiper-slide
					img(src="img/slider-centres/be-friends/center-one-5.jpg", alt="alt")
				.swiper-slide
					img(src="img/slider-centres/be-friends/center-one-6.jpg", alt="alt")
				.swiper-slide
					img(src="img/slider-centres/be-friends/center-one-7.jpg", alt="alt")
				.swiper-slide
					img(src="img/slider-centres/be-friends/center-one-8.jpg", alt="alt")
				.swiper-slide
					img(src="img/slider-centres/be-friends/center-one-9.jpg", alt="alt")
				.swiper-slide
					img(src="img/slider-centres/be-friends/center-one-10.jpg", alt="alt")
				.swiper-slide
					img(src="img/slider-centres/be-friends/center-one-11.jpg", alt="alt")
				.swiper-slide
					img(src="img/slider-centres/be-friends/center-one-12.jpg", alt="alt")
			.swiper-button-prev
				img(src="img/icons/arrow-prev.svg", alt="")
			.swiper-button-next
				img(src="img/icons/arrow-next.svg", alt="")
	main
		// About Center Block
		include ../modules/blocks/page-center/about-center
		section.programmCenterBlock
			h3.programmCenterBlock__title Направления центра
			.wrapper
				.programmCenterContainer
					.programmButton
						a(href="#").btn-product.btn-product_yellow Детский сад 3-6 лет
					.programmButton
						a(href="#").btn-product.btn-product_purple Начальная школа 6-12 лет
					.programmButton
						a(href="#").btn-product.btn-product_orange Шахматы 6-10 лет
					.programmButton
						a(href="#").btn-product.btn-product_orange Архитектура 6-10 лет