extends ../modules/head

block variables
	- var pageTitle = 'Главная'

block content
	include ../modules/blocks/slider-header
	main
		include ../modules/blocks/school-cart
		include ../modules/blocks/advantages
		include ../modules/blocks/centres-main