extends ../modules/head

block variables
	- var pageTitle = 'Педагоги'

block content
	// Circle-color Block
	include ../modules/blocks/circle-violet
	main
		// About-method Block
		include ../modules/blocks/page-teachers/about-method
		// About Teachers Block
		include ../modules/blocks/page-teachers/about-teachers