extends ../modules/head

block variables
	- var pageTitle = 'Методики'

block content
	// Circle-color Block
	include ../modules/blocks/circle-violet
	main
		// Advantages Block
		include ../modules/blocks/page-home/advantages
		// Center Cart Block
		include ../modules/blocks/center-cart