extends ../modules/head

block variables
	- var pageTitle = 'Главная'

block content
	include ../modules/blocks/circle-violet
	// Slider-header Block
	include ../modules/blocks/slider-header
	main
		// School-cart Block
		include ../modules/blocks/school-cart
		// Advantages Block
		include ../modules/blocks/advantages
		// Centres Block
		include ../modules/blocks/centres-main
		//Montessory Block
		include ../modules/blocks/about-maria
		//Teachers Block
		include ../modules/blocks/teachers-main
		//FAQ Block
		include ../modules/blocks/faq
		//Gallery Block
		include ../modules/blocks/gallery
		//Gallery Block
		include ../modules/blocks/contacts-main