extends ../modules/head

block variables
	- var pageTitle = 'Педагоги'

block content
	include ../modules/blocks/circle-violet
	main
		include ../modules/blocks/page-teachers/about-method
		include ../modules/blocks/page-teachers/about-teachers