- var imgBe = "bigsize-be-logo.png"
- var imgOle = "bigsize-ole-logo.png"

section.aboutCenterBlock
	.wrapper
		.aboutCenter
			.aboutCenter__img
				case pageTitle
					when pageTitle = 'Название центра 1'
						img(src="img/centres-main/" + imgBe, alt="alt")
					when pageTitle = 'Название центра 2'
						img(src="img/centres-main/" + imgOle, alt="alt")
			.aboutCenter__text
				case pageTitle
					when pageTitle = 'Название центра 1'
						p.aboutCenter__text-descr Центр Би Френдс открылся в сентябре 2019 года. Он расположился в двухэтажном коттедже с мансардой в центре Саратова, недалеко от Городского парка. Прежде чем открыть новый центр, мы тщательно продумали его планировку и сделали ремонт с применением современных безопасных материалов.
						p.aboutCenter__text-descr В коттедже оборудованы классы для занятий, танцевальная студия, помещения для полноценного отдыха детей. Центр Би Френдс оснащён уникальным оборудованием и мебелью, разработанными и изготовленными специально для нас, поэтому дети любого возраста могут проявить свою самостоятельность на максимально доступном им уровне. Также в распоряжении воспитанников центра уютная закрытая территория для прогулок.
					when pageTitle = 'Название центра 2'
						p.aboutCenter__text-descr Центр Оле Лукойе открылся в 2014 году. Он располагается в двадцатиэтажном здании в районе Городского парка. Помещение было специально спроектировано и отремонтировано таким образом, чтобы создать наиболее комфортные условия для детей. Его общая площадь составляет более 300 метров. Каждый элемент дизайна, оборудование и мебель изготовлены из современных безопасных материалов.
						p.aboutCenter__text-descr Планировка и интерьер каждого помещения в центре соответствуют стандартам, принятым в методике Монтессори, и создают благоприятную для развития ребёнка среду. Благодаря этому дети имеют возможность проявить максимальную самостоятельность. Также у центра есть собственная территория для прогулок с детской площадкой.