.headerCenterSlider
	.swiper-container.centerSlider
		.swiper-wrapper
			.swiper-slide
				img(src="img/slider-centres/center-one-1.jpg", alt="alt")
			.swiper-slide
				img(src="img/slider-centres/center-one-2.jpg", alt="alt")
		.swiper-button-prev
			img(src="img/icons/arrow-prev.svg", alt="")
		.swiper-button-next
			img(src="img/icons/arrow-next.svg", alt="")