.headerBanner
	display: flex
	// justify-content: center
	height: 440px
	overflow: hidden
	.swiper-container
		position: relative
		z-index: 1
	&__logo
		position: relative
		height: 440px
		z-index: 5
		video
			height: 100%
	&__slider
		height: 440px
		img
			height: 100%
			width: 100%
			object-fit: cover