.headerBanner
	display: flex
	height: 500px
	width: 100%
	justify-content: center
	overflow: hidden
	.swiper-container
		position: relative
		z-index: 1
	&__logo
		position: relative
		height: 500px
		z-index: 5
		flex-basis: 20%
		video
			height: 100%
	&__slider
		height: 500px
		flex-basis: 80%
		img
			height: 100%
			width: 100%
			object-fit: cover