.aboutProgrammImageSchool
	.aboutProgrammImageSchool__star.aboutProgrammImageSchool__star_one
		img(src="img/programm/header/star-25.svg", alt="alt")
	.aboutProgrammImageSchool__star.aboutProgrammImageSchool__star_two
		img(src="img/programm/header/star-23.svg", alt="alt")
	.aboutProgrammImageSchool__star.aboutProgrammImageSchool__star_three
		img(src="img/programm/header/star-21.svg", alt="alt")
	.aboutProgrammImageSchool__star.aboutProgrammImageSchool__star_four
		img(src="img/programm/header/star-23.svg", alt="alt")
	.aboutProgrammImageSchool__star.aboutProgrammImageSchool__star_five
		img(src="img/programm/header/star-11.svg", alt="alt")
	.aboutProgrammImageSchool__star.aboutProgrammImageSchool__star_six
		img(src="img/programm/header/star-13.svg", alt="alt")
	.aboutProgrammImageSchool__circle.aboutProgrammImageSchool__circle_one
	.aboutProgrammImageSchool__circle.aboutProgrammImageSchool__circle_two
	.aboutProgrammImageSchool__circle.aboutProgrammImageSchool__circle_three
	.aboutProgrammImageSchool__circle.aboutProgrammImageSchool__circle_four
	.aboutProgrammImageSchool__circle.aboutProgrammImageSchool__circle_five
	.aboutProgrammImageSchool__circle.aboutProgrammImageSchool__circle_six
	.aboutProgrammImageSchool__circle.aboutProgrammImageSchool__circle_seven
	.aboutProgrammImageSchool__img
		img(src="img/programm/school.png", alt="alt")
	.aboutProgrammImageSchool__text
		span.aboutProgrammImageSchool__text-title Начальная
		span.aboutProgrammImageSchool__text-title школа
		span.aboutProgrammImageSchool__text-subtitle от 9-12 лет
.aboutProgrammBg__star.aboutProgrammBg__star_one
	img(src="img/programm/objects/star-27.svg", alt="alt")
.aboutProgrammBg__star.aboutProgrammBg__star_two
	img(src="img/programm/objects/star-26.svg", alt="alt")
.aboutProgrammBg__star.aboutProgrammBg__star_three
	img(src="img/programm/objects/star-26.svg", alt="alt")
.aboutProgrammBg__star.aboutProgrammBg__star_four
	img(src="img/programm/objects/star-27.svg", alt="alt")
.aboutProgrammBg__circle.aboutProgrammBg__circle_one
.aboutProgrammBg__circle.aboutProgrammBg__circle_two
.aboutProgrammBg__circle.aboutProgrammBg__circle_three
.aboutProgrammBg__circle.aboutProgrammBg__circle_four
section.aboutProgrammBlock
	.wrapper
		.aboutProgrammContainer
			.aboutProgrammText
				h3.aboutProgrammText__title О программе
				p.aboutProgrammText__descr Начальная школа - это пространство, где дети увлеченно исследуют области языка, математики, ботаники, зоологии, геометрии, географии, астрономии, истории. Они получают навык ставить себе задачи, планируя день. Дети имеют возможность выбирать наглядный монтессори-материал, выполнять работу в своем темпе, заниматься в группе, обсуждать задания.
				.aboutProgrammText__img
					img(src="img/programm/teachers-1.jpg", alt="alt")
				h3.aboutProgrammText__title Монтессори-педагог
				p.aboutProgrammText__descr Его главная задача заинтересовать ребенка, развить его воображение и мышление, показать, как можно получить знание, индивидуально разбирая тему за темой. Монтессори педагогом движет философия гуманного подхода к образованию детей. Он не только имеет высшее образование, но освоил методику на специализированном курсе и постоянно совершенствует свои навыки в профессиональном монтессори сообществе.