section.centerCartBlock
	.wrapper
		.centerCartContainer
			.centerCart
				.centerCart__img
					img(src="img/programm/school/img-1.jpg", alt="alt")
				h3.centerCart__title Билингвальный формат
				.centerCart__text
					p.centerCart__descr Двуязычная среда обеспечивается владением английским языком всеми сотрудниками центра и активной деятельностью монтессори-педагога, единственным языком общения в центре для которого является английский язык.
					p.centerCart__descr Метод Монтессори дает возможность реализовать билингвальный подход не только во время прогулок и обедов, но и в период свободной работы детей в монтессори-среде. Англоязычный монтессори-педагог работает в паре с основным монтессори-педагогом в классе и дает презентации на английском языке. Кроме свободного общения дети занимаются английским языком на классических уроках.
			.centerCart
				.centerCart__img
					img(src="img/programm/school/img-2.jpg", alt="alt")
				h3.centerCart__title Индивидуальный подход
				.centerCart__text
					p.centerCart__descr Все темы по русскому языку, математике, геометрии разбираются с каждым ребенком индивидуально в рамках свободной работы в классе. При этом упражнения ребенок выполняет в своем темпе в нужное ему время.
			.centerCart
				.centerCart__img
					img(src="img/programm/school/img-3.jpg", alt="alt")
				h3.centerCart__title Совместная проектно-образовательная работа
				.centerCart__text
					p.centerCart__descr Этот формат работы обеспечивает погружение детей в темы окружающего мира, давая возможность «проживать» истории жизни и процессов на Земле с экспертами по творчеству, архитектуре, музыке, при активном участии монтессори-педагога и носителя языка. Именно в рамках такой работы дети увлекаются историей, биологией, географией, что мотивирует их на дальнейшее исследование.
			.centerCart
				.centerCart__img
					img(src="img/programm/school/img-4.jpg", alt="alt")
				h3.centerCart__title Уникальная развивающая среда
				.centerCart__text
					p.centerCart__descr Богатая база наглядных материалов по математике, русскому языку, геометрии для детей начальной школы включает специально разработанный в рамках метода Монтессори материал, позволяющий не только осваивать программу ФГОС, но и «понимать» и любить основные предметы. Уникальные Ленты времени и Большие истории призваны во взаимосвязи фактов погрузить детей в историю происходивших на Земле событий.
			.centerCart
				.centerCart__img
					img(src="img/programm/school/img-5.jpg", alt="alt")
				h3.centerCart__title Отсутствие оценочного контроля
				.centerCart__text
					p.centerCart__descr Материал можно либо знать либо не знать. На каждого ребенка заполняется карта, отражающая объем освоенного им материала. Каждый ребенок изучает предметы, используя навигаторы по предмету.
			.centerCart
				.centerCart__img
					img(src="img/programm/school/img-6.jpg", alt="alt")
				h3.centerCart__title Разновозрастный класс
				.centerCart__text
					p.centerCart__descr Дети в возрасте 6-9 лет учатся вместе каждый по индивидуальному навигатору. Такая среда обеспечивает естественную мотивацию детей на освоение нового материала, который уже кем-то востребован. При этом естественным образом формируется опыт общения в разновозрастной среде.
			.centerCart
				.centerCart__img
					img(src="img/programm/school/img-7.jpg", alt="alt")
				h3.centerCart__title Архитектура и творчество
				.centerCart__text
					p.centerCart__descr Проживание и проработка проектных тем, используя неограниченное количество техник, в объеме и на плоскости.