section.tablePriceBlock
	.wrapper
		.tablePriceContainer
			table.tablePrice.tablePrice_purple
				thead.tablePrice__heading.tablePrice__heading_purple
					tr
						th Формат посещения
						th Центр
						th Цена в месяц
				tbody.tablePrice__body
					tr
						td Полный месяц 
							span 8.00 - 19.00
						td Be Friends
						td 25000 руб.
					tr
						td Общеобразовательное обучение  
							span 8.00 - 14.00
						td Be Friends
						td 18000 руб.
					tr
						td дополнительные занятия
							span 14.00 - 18.00
						td Be Friends
						td от 400 руб.
			table.tablePrice.tablePrice_purple
				thead.tablePrice__heading.tablePrice__heading_purple
					tr
						th Формат посещения
						th Центр
						th Цена в месяц
				tbody.tablePrice__body
					tr
						td Шахматы(6-10 лет)<br> по пятницам
							span с 15.30
						td Be Friends
						td 300 руб.
					tr
						td Архитектура(6-10 лет)<br> по вторникам
							span с 14.00
						td Be Friends
						td 400 руб.
		.tableDescription
			p Для детей из одной семьи действует скидка 15% от стоимости посещения сада или школы. 
			p Скидка не распространяется на отдельные занятия вне формата сада или школы.