footer.footer
	.wrapper-fluid
		.footerContainer
			.footerContainer__left
				.footerContainer__brand
					a(href="#").footerContainer__brand-logo
						img(src="img/icons/be-friends_top.png", alt="alt")
					a(href="#").footerContainer__brand-logo
						img(src="img/icons/ole-lukoye_top.png", alt="alt")
					a(href="tel: +7 8452 46-29-75").footerContainer__brand-phone
						img(src="img/icons/phone_top.png", alt="alt")
						span +7 (8452) 46-29-67
				a(href="#").btn-product.btn-product_red Приходите на экскурсию!
				.footerContainer__social
					h5.footerContainer__social-title Мы в соцсетях:
					.footerContainer__social-img
						a(href="#")
							img(src="img/icons/vk.png", alt="alt")
						a(href="#")
							img(src="img/icons/facebook.png", alt="alt")
						a(href="#")
							img(src="img/icons/instagramm.png", alt="alt")
						a(href="#")
							img(src="img/icons/odnoklasniki.png", alt="alt")
			.footerContainer__right
					ul.footerContainer__menu
						li
							a(href="") Наши центры
							ul.menu-down
								li
									a(href="") Be Friends
								li
									a(href="") Оле Лукойе
						li
							a(href="") Методика
						li
							a(href="") Программы
							ul.menu-down
								li
									a(href="") от 1,5-3 лет
								li
									a(href="") от 3-6 лет
								li
									a(href="") от 6-9 лет
						li
							a(href="") Педагоги
						li
							a(href="") Блог
						li
							a(href="") Контакты