.btn-product
	display: block
	font-family: $roboto
	border-radius: 100px
	z-index: 5
	text-align: center
	font-size: $base-font-size
	line-height: 19px
	padding: 16px 24px
	color: $white
	&_green
		background: $green
	&_yellow
		background: $yellow
	&_purple
		background: $purple
	&_red
		background: $red
.btn-centres
	display: block
	font-family: $roboto
	border-radius: 100px
	z-index: 5
	text-align: center
	font-size: $base-font-size
	line-height: 19px
	padding: 16px 24px
	color: $white
	width: 282px
	background: transparent
	border: 2px solid $white