@import "variables.sass"
@import "smart-grid.sass"

/* Interface */
@import "modules/navigation/interface.sass"
/* Interface Slider(Swiper) */
@import "modules/navigation/swiper.scss"
/* Header Block */
@import "modules/header/header.sass"
/* Slider-Header Block */
@import "modules/blocks/slider-header.sass"



/* Footer Block */
@import "modules/footer/footer.sass"

/* Normalize */
@import "normalize.sass"
/* Fonts */
@import "font.sass"


html
	font-size: $base-font-size
	overflow-x: hidden

body
	background-color: $white
	font-family: 'Roboto', sans-serif
	font-size: $base-font-size
	overflow-x: hidden

.wrapper
	+wrapper()

.wrapper-fluid
	+wrapper-full()

/* .debug
	+debug(rgba(0, 0, 0, 0.3), 1px solid rgb(19, 138, 92)) */



