@import "variables.sass"
@import "smart-grid.sass"

/* Interface */
@import "modules/navigation/interface.sass"
/* Interface Slider(Swiper) */
@import "modules/navigation/swiper.scss"
/* Interface Menu */
@import "modules/navigation/menu.sass"
/* Header Block */
@import "modules/header/header.sass"
/* Slider-Header Block */
@import "modules/blocks/sliders-header.sass"
/* Page-Home */
/* School-cart Block */
@import "modules/blocks/school-cart.sass"
/* Advantages Block */
@import "modules/blocks/advantages.sass"
/* About-us Block */
@import "modules/blocks/about-us.sass"
/* Centres-main Block */
@import "modules/blocks/centres-main.sass"
/* About-maria Block */
@import "modules/blocks/about-maria.sass"
/* Teachers-main Block */
@import "modules/blocks/teachers-main.sass"
/* FAQ Block */
@import "modules/blocks/faq.sass"
/* Gallery Block */
@import "modules/blocks/gallery.sass"
/* Contacts Block */
@import "modules/blocks/contacts-main.sass"
/* Page Center */
/* About Center Block */
@import "modules/blocks/about-center.sass"
/* Center Cart Block */
@import "modules/blocks/center-cart.sass"
/* Page Teachers */
/* About Method Block */
@import "modules/blocks/about-method.sass"
/* About Teachers Block */
@import "modules/blocks/about-teachers.sass"
/* Page Programm */
/* About Programm Block */
@import "modules/blocks/about-programm.sass"
/* Table Price Block */
@import "modules/blocks/table-price.sass"
/* Footer Block */
@import "modules/footer/footer.sass"

/* Normalize */
@import "normalize.sass"
/* Fonts */
@import "font.sass"


html
	font-size: $base-font-size
	overflow-x: hidden

body
	background-color: $white
	font-family: 'Roboto', sans-serif
	font-size: $base-font-size
	// overflow-x: hidden

.wrapper
	+wrapper()

.wrapper-fluid
	+wrapper-full()

.compensate-for-scrollbar
	margin-right: 0 !important

/* .debug
	+debug(rgba(0, 0, 0, 0.3), 1px solid rgb(19, 138, 92))
	z-index: 999 */



