section.aboutUsBlock
	h3.aboutUsBlock__title Что вы встретите у нас?
	.wrapper
		.centerCartContainer
			.centerCart
				.centerCart__img
					img(src="img/about-us/img-1.jpg", alt="alt")
				h3.centerCart__title Монтессори метод в воспитании детей
			.centerCart
				.centerCart__img
					img(src="img/about-us/img-2.jpg", alt="alt")
				h3.centerCart__title Билингвальную среду
			.centerCart
				.centerCart__img
					img(src="img/about-us/img-3.jpg", alt="alt")
				h3.centerCart__title Профессиональную поддержку родителей в воспитании ребенка
			.centerCart
				.centerCart__img
					img(src="img/about-us/img-4.jpg", alt="alt")
				h3.centerCart__title Сообщество квалифицированных педагогов
			.centerCart
				.centerCart__img
					img(src="img/about-us/img-5.jpg", alt="alt")
				h3.centerCart__title Организацию и контроль безопасности в помещениях и в зоне прогулок
			.centerCart
				.centerCart__img
					img(src="img/about-us/img-6.jpg", alt="alt")
				h3.centerCart__title Качественное питание (собственная кухня)