section.advantagesBlock
	.advantagesBlock__star.advantagesBlock__star_one
		img(src="img/advantages/objects/star-24.svg", alt="alt")
	.advantagesBlock__star.advantagesBlock__star_two
		img(src="img/advantages/objects/star-23.svg", alt="alt")
	.advantagesBlock__star.advantagesBlock__star_three
		img(src="img/advantages/objects/star-22.svg", alt="alt")
	.advantagesBlock__circle.advantagesBlock__circle_one
	.advantagesBlock__circle.advantagesBlock__circle_two
	.advantagesBlock__circle.advantagesBlock__circle_three
	.advantagesBlock__circle.advantagesBlock__circle_four
	.wrapper
		h3.advantagesBlock__title Почему метод Монтессори актуален и востребован в мире?
		.advantagesContainer
			.advantagesCart
				.advantagesCart__img
					img(src="img/advantages/advantage-5.svg", alt="alt")
				.advantagesCart__text
					p Доступность разнообразных видов деятельности раскрывает потенциал ребенка.
			.advantagesCart
				.advantagesCart__img
					img(src="img/advantages/advantage-3.svg", alt="alt")
				.advantagesCart__text
					p “Богатая” монтессори-среда дает всесторонние знания
			.advantagesCart
				.advantagesCart__img
					img(src="img/advantages/advantage-8.svg", alt="alt")
				.advantagesCart__text
					p Развитие в собственном темпе без оценок и сравнений формирует успешность ребенка
			.advantagesCart
				.advantagesCart__img
					img(src="img/advantages/advantage-1.svg", alt="alt")
				.advantagesCart__text
					p Билингвальный метод развивает речь, позволяет общаются на русском и английском языках в течение всего дня
			.advantagesCart
				.advantagesCart__img
					img(src="img/advantages/advantage-9.svg", alt="alt")
				.advantagesCart__text
					p Воспитание в разновозрастной среде адаптирует к жизни
			.advantagesCart
				.advantagesCart__img
					img(src="img/advantages/advantage-4.svg", alt="alt")
				.advantagesCart__text
					p Навык выбора деятельности формирует характер/внутренний стержень и ответственность
			.advantagesCart
				.advantagesCart__img
					img(src="img/advantages/advantage-6.svg", alt="alt")
				.advantagesCart__text
					p Четкие правила взаимодействия и работы в среде Монтессори дают детям уверенность и спокойствие
			.advantagesCart
				.advantagesCart__img
					img(src="img/advantages/advantage-7.svg", alt="alt")
				.advantagesCart__text
					p Индивидуальный подход педагогов позволяет уделить внимание каждому, учесть особенности ребенка
			.advantagesCart
				.advantagesCart__img
					img(src="img/advantages/advantage-2.svg", alt="alt")
				.advantagesCart__text
					p Взгляд на мир, как на Вселенную, расширяет горизонты ребенка