section.faqBlock
	h3.faqBlock__title Часто задаваемые вопросы
	.wrapper
		.faqContainer
			.faqContainer__ask.faqContainer__ask_small.hide-lg
				img(src="img/faq/ask-1.png", alt="")
			.faqContainer__ask.faqContainer__ask_large.hide-lg
				img(src="img/faq/ask-2.png", alt="")
			.faqContainer__ask.faqContainer__ask_medium.hide-lg
				img(src="img/faq/ask-3.png", alt="")
			.faqContainer__ask.faqContainer__ask_big.hide-lg
				img(src="img/faq/ask-4.png", alt="")
			.faqCart
				.faqCart__title
					h4.faqCart__heading Мой ребенок аллергик. Как у вас решаются подобные проблемы с питанием?
				.faqCart__text
					h5.faqCart__subtitle Ответ:
					p.faqCart__descr У нас профессиональная кухня и замечательный повар. Питание щадящее. В меню всегда есть мясные и рыбные блюда, молочные продукты, фрукты, овощи. При поступлении к нам родители сообщают о продуктах, которые запрещены их ребенку, и повар готовит отдельно блюда на замену. Сейчас появляются дети - вегетарианцы, чьи вкусовые потребности несложно учитывать, имея свою кухню. Нам важен каждый ребенок и его особенности здоровья.
			.faqCart
				.faqCart__title
					h4.faqCart__heading Как у вас проходит адаптация ребенка в детском саду?
				.faqCart__text
					h5.faqCart__subtitle Ответ:
					p.faqCart__descr Период адаптации может занимать от недели до нескольких месяцев. Продолжительность этого периода зависит от ребенка, родителей и среды в саду (педагогов, детей, атмосферы группы). Очень важно, принимая решение привести ребенка в монтессори-группу, отпустить ребенка искренне, доверив его на время педагогам. Искренность родителей доступна детям, они ее буквально ощущают. Она позволяет им находить доверенное лицо в саду, снижает тревожность. Необходимо помнить, что все дети разные - кому-то важно освоиться в одиночестве, другому - прижавшись к взрослому, третьему - найдя друга, интересное занятие. Первые дни мы чутко реагируем на потребности ребенка и вместе с родителями определяем комфортное для ребенка время пребывания в саду. Постепенно этот период приходит к нужному формату посещения. Мы за адаптацию без стресса, с любовью и вниманием.
			.faqCart
				.faqCart__title
					h4.faqCart__heading Как адаптируется мой ребёнок в обычной школе после обучения в вашей?
				.faqCart__text
					h5.faqCart__subtitle Ответ:
					p.faqCart__descr Дети к 12 годам достигают пубертатного возраста, периода самоопределения. Они должны получить навыки, позволяющие им быть самодостаточными, независимыми, коммуникабельными. Монтессори метод наравне с обучением предметным навыкам уделяет не меньше времени формированию личности ребенка, поэтому наши дети уже в 6-9 лет проявляют характер и вместе с тем работоспособность. К 12-ти дети знают, как учиться, к чему можно стремиться, как достигать целей, нести ответственность. Опыт зарубежных, московских и санкт-петербургских школ Монтессори свидетельствует об успешности детей, выпустившихся из монтессори-классов, при условии что родители учитывают их интересы и сами не ломают своих детей своими ожиданиями.
			.faqCart
				.faqCart__title
					h4.faqCart__heading Очень сложно понять, как работает метод Монтессори. Дети работают сами?! Проводите ли вы открытые уроки?
				.faqCart__text
					h5.faqCart__subtitle Ответ:
					p.faqCart__descr При условии готовности группы к принятию гостя (одного родителя) мы приглашаем будущих наших родителей на наблюдение в среду Монтессори на двухчасовое занятие. Для семей, рассматривающих возможность обучать ребенка в школе Монтессори, организуется возможность наблюдения работы класса в течение трех часов. Мы также проводим Дни открытых дверей, где педагоги погружают родителей в атмосферу классных занятий.