section.faqBlock
	h3.faqBlock__title Часто задаваемые вопросы
	.wrapper
		.faqContainer
			.faqContainer__ask.faqContainer__ask_small
				img(src="img/faq/small-ask.svg", alt="")
			.faqContainer__ask.faqContainer__ask_large
				img(src="img/faq/large-ask.svg", alt="")
			.faqContainer__ask.faqContainer__ask_medium
				img(src="img/faq/medium-ask.svg", alt="")
			.faqContainer__ask.faqContainer__ask_big
				img(src="img/faq/big-ask.svg", alt="")
			.faqCart
				.faqCart__title
					h4.faqCart__heading Что кушают дети в саду и школе?                    
				.faqCart__text
					h5.faqCart__subtitle Ответ:
					p.faqCart__descr Любое познание, получение опыта в возрасте до шести лет происходит особым образом. Всё, что происходит в окружающей ребенка среде, воспринимается, перерабатывается и хранится в клетках мозга без прикладывания каких-либо усилий с помощью некой формы бессознательного впитывания.
					.faqCart__btnWrapp
						a(href="#").btn-product.btn-product_green Узнать подробней
			.faqCart
				.faqCart__title
					h4.faqCart__heading Часто ли болеют дети в саду или школе?
				.faqCart__text
					h5.faqCart__subtitle Ответ:
					p.faqCart__descr Любое познание, получение опыта в возрасте до шести лет происходит особым образом. Всё, что происходит в окружающей ребенка среде, воспринимается, перерабатывается и хранится в клетках мозга без прикладывания каких-либо усилий с помощью некой формы бессознательного впитывания. Именно поэтому среда, окружающая ребенка, ее наполненность в соответствии с особенностями и возрастом.
					.faqCart__btnWrapp
						a(href="#").btn-product.btn-product_green Наши центры
			.faqCart
				.faqCart__title
					h4.faqCart__heading Какой график рабоы?
				.faqCart__text
					h5.faqCart__subtitle Ответ:
					p.faqCart__descr Любое познание, получение опыта в возрасте до шести лет происходит особым образом. Всё, что происходит в окружающей ребенка среде, воспринимается, перерабатывается и хранится в клетках мозга без прикладывания каких-либо усилий с помощью некой формы бессознательного впитывания. Именно поэтому среда, окружающая ребенка, ее.
					.faqCart__btnWrapp
						a(href="#").btn-product.btn-product_green Ознакомиться
			.faqCart
				.faqCart__title
					h4.faqCart__heading Сколько стоят дополнительные занятия?
				.faqCart__text
					h5.faqCart__subtitle Ответ:
					p.faqCart__descr Любое познание, получение опыта в возрасте до шести лет происходит особым образом. Всё, что происходит в окружающей ребенка среде, воспринимается, перерабатывается и хранится в клетках мозга без прикладывания каких-либо усилий с помощью некой формы бессознательного впитывания. Именно поэтому среда, окружающая ребенка, ее наполненность в соответствии с особенностями и возрастом детей, а также подготовленные педагоги и родители, играют решающую роль в становлении ребенка.
					.faqCart__btnWrapp
						a(href="#").btn-product.btn-product_green Факультативы