.headerBanner.padding-75.padding-125
	.headerBanner__logo
		video(autoplay,loop, muted)
			source(src="img/slider/be.webm", type='video/webm')
	.swiper-container.headerBanner__slider.hide-md
		.swiper-wrapper
			.swiper-slide
				img(src="img/slider/slide-1.jpg", alt="alt")
			.swiper-slide
				img(src="img/slider/slide-2.jpg", alt="alt")
			.swiper-slide
				img(src="img/slider/slide-3.jpg", alt="alt")
			.swiper-slide
				img(src="img/slider/slide-4.jpg", alt="alt")
			.swiper-slide
				img(src="img/slider/slide-5.jpg", alt="alt")
		a(href="javascript:;" data-fancybox="btn-header" data-src="#modal" data-animation-duration="700").btn-product.btn-product_red Приходите на экскурсию!

