.headerBanner
	.headerBanner__logo
		video(autoplay,loop, muted)
			source(src="img/slider/be.webm", type='video/webm')
	.swiper-container.headerBanner__slider
		.swiper-wrapper
			.swiper-slide
				img(src="img/slider/slide-1.jpg", alt="alt")
			.swiper-slide
				img(src="img/slider/slide-2.jpg", alt="alt")
			.swiper-slide
				img(src="img/slider/slide-1.jpg", alt="alt")
		a(href="#").btn-product.btn-product_red Приходите на экскурсию!

