section.aboutMariaBlock
	.wrapper
		.aboutMariaContainer
			.aboutMariaText
				h4.aboutMariaText__heading О Марии Монтессори
				p.aboutMariaText__descr Монтессори – это фамилия первой женщины в истории Италии, окончившей курс медицины, и одной из первых носительниц учёной степени доктора наук.
				p.aboutMariaText__descr Мария Монтессори - всемирно известный человек своего времени, была выдвинута на Нобелевскую премию мира. В 1988 г. решением ЮНЕСКО её имя включено в список четырех педагогов, определивших способ педагогического мышления XX века: Джон Дьюи, Георг Кершенштейнер, Мария Монтессори, Антон Макаренко.
				p.aboutMariaText__descr Монтессори-педагогика в России появилась еще в начале прошлого века. В 1910 г. дом ребенка М. Монтессори посетила дочь Льва Толстого Татьяна Сухотина-Толстая. Она увидела в Монтессори-школе воплощение идей своего отца. А в 1914 г. Российское министерство народного просвещения командировало в "Дом ребенка" группу общественных деятелей дошкольного воспитания, что дало толчок в развитии Монтессори-системы в России, однако только до поры революции. В послереволюционной России забытая методика Монтессори возродилась в 90-е годы ХХ века.
				p.aboutMariaText__descr Система Монтессори получила свое признание во многих странах мира, например - в США, Нидерландах, Индии, Канаде, Австралии, Англии, Италии.
			.aboutMariaPhoto
				.aboutMariaPhoto__img
					img(src="img/about-montessory/maria.png", alt="alt")
		a(href="#").btn-product.btn-product_purple Подробней о методике