section.blogContentBlock.padding-75.padding-125
	.wrapper
		.blogContent
			h1.blogContent__heading Заголовок события
			p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Прямо встретил проектах жизни заголовок точках решила власти дал запятых ведущими силуэт по всей повстречался всемогущая вскоре от всех коварных на берегу имени, грамматики своих, свой предупреждал ты продолжил. Предложения щеке его журчит моей пустился если, курсивных возвращайся, великий бросил на берегу по всей города! Наш заголовок свое правилами семь продолжил они вдали осталось агентство послушавшись рекламных маленькая вопроса рыбными рукописи что моей, единственное алфавит ему последний ipsum его деревни океана злых? Щеке, рыбными коварных ты семь текста однажды. От всех своих моей семь знаках! Буквоград скатился прямо текстами, своего если дороге там послушавшись реторический подпоясал, возвращайся, путь языком несколько великий от всех рекламных единственное. Дал жизни маленький осталось путь своих послушавшись до великий скатился вопроса запятых маленькая предложения агентство одна, обеспечивает всемогущая ведущими встретил рот рекламных, вершину мир рукописи! Необходимыми безорфографичный злых оксмокс наш запятой. Однажды, имеет! Подпоясал рот собрал текст эта пояс. Бросил букв ручеек домах вопрос ведущими, последний даже рыбного, за реторический запятой от всех дал. Lorem знаках деревни не все одна алфавит прямо, заглавных рот, буквоград первую маленькая. Моей силуэт заголовок подпоясал переписывается, своего если одна но снова оксмокс безорфографичный знаках своих. Предложения родного использовало однажды собрал осталось, последний не снова силуэт? Рукопись, встретил!
			ul
				li Что то такое эдакое
				li Что то такое эдакое
				li Что то такое эдакое
				li Что то такое эдакое
				li Что то такое эдакое
				li Что то такое эдакое
				li Что то такое эдакое
	.wrapper-fluid
		.galleryMasonry
			a(href="img/gallery/foto-1.jpg" data-type="image" data-fancybox="blog").galleryMasonry__img.galleryMasonry__item
				img(src="img/gallery/foto-1.jpg", alt="alt")
			a(href="img/gallery/foto-2.jpg" data-type="image" data-fancybox="blog").galleryMasonry__img.galleryMasonry__item
				img(src="img/gallery/foto-2.jpg", alt="alt")
			a(href="img/gallery/foto-3.jpg" data-type="image" data-fancybox="blog").galleryMasonry__img.galleryMasonry__item
				img(src="img/gallery/foto-3.jpg", alt="alt")
			a(href="img/gallery/foto-4.jpg" data-type="image" data-fancybox="blog").galleryMasonry__img.galleryMasonry__item
				img(src="img/gallery/foto-4.jpg", alt="alt")
			a(href="img/gallery/foto-5.jpg" data-type="image" data-fancybox="blog").galleryMasonry__img.galleryMasonry__item
				img(src="img/gallery/foto-5.jpg", alt="alt")
			a(href="img/gallery/foto-6.jpg" data-type="image" data-fancybox="blog").galleryMasonry__img.galleryMasonry__item
				img(src="img/gallery/foto-6.jpg", alt="alt")
			a(href="img/gallery/foto-7.jpg" data-type="image" data-fancybox="blog").galleryMasonry__img.galleryMasonry__item
				img(src="img/gallery/foto-7.jpg", alt="alt")
			a(href="img/gallery/foto-8.jpg" data-type="image" data-fancybox="blog").galleryMasonry__img.galleryMasonry__item
				img(src="img/gallery/foto-8.jpg", alt="alt")
.schoolCartBlog
	// School-cart Block
	include ./page-home/school-cart