section.blogBlock.padding-75.padding-125
	h1.blogBlock__title Наши события
	.wrapper
		.blogItem
			.blogCart
				a(href="single.html").blogCart__img
					img(src="img/slider/slide-1.jpg", alt="alt")
				.blogCart__text
					a(href="single.html").blogCart__link
						h3.blogCart__link-heading Заголовок события
					p.blogCart__descr Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Текстами себя сбить все единственное рукописи родного страна над, речью прямо грамматики мир, предложения рыбного.
					.blogCart__date 30 октября 2019 в 13:33
					.blogCart__category
						a(href="#") Категория Be Friends
			.blogCart
				a(href="single.html").blogCart__img
					img(src="img/slider/slide-1.jpg", alt="alt")
				.blogCart__text
					a(href="single.html").blogCart__link
						h3.blogCart__link-heading Заголовок события
					p.blogCart__descr Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Текстами себя сбить все единственное рукописи родного страна над, речью прямо грамматики мир, предложения рыбного.
					.blogCart__date 30 октября 2019 в 13:33
					.blogCart__category
						a(href="#") Категория Оле Лукойе
			a(href="#").btn-product.btn-product_green Больше новостей
