section.galleryMainBlock
	h4.galleryMainBlock__title Фотогалерея
	.wrapper-fluid
		.galleryMasonry
			a(href="img/gallery/foto-1.jpg" data-type="image" data-fancybox="gallery").galleryMasonry__img.galleryMasonry__item
				img(src="img/gallery/foto-1.jpg", alt="alt")
			a(href="img/gallery/foto-2.jpg" data-type="image" data-fancybox="gallery").galleryMasonry__img.galleryMasonry__item
				img(src="img/gallery/foto-2.jpg", alt="alt")
			a(href="img/gallery/foto-3.jpg" data-type="image" data-fancybox="gallery").galleryMasonry__img.galleryMasonry__item
				img(src="img/gallery/foto-3.jpg", alt="alt")
			a(href="img/gallery/foto-4.jpg" data-type="image" data-fancybox="gallery").galleryMasonry__img.galleryMasonry__item
				img(src="img/gallery/foto-4.jpg", alt="alt")
			a(href="img/gallery/foto-5.jpg" data-type="image" data-fancybox="gallery").galleryMasonry__img.galleryMasonry__item
				img(src="img/gallery/foto-5.jpg", alt="alt")
			a(href="img/gallery/foto-6.jpg" data-type="image" data-fancybox="gallery").galleryMasonry__img.galleryMasonry__item
				img(src="img/gallery/foto-6.jpg", alt="alt")
			a(href="img/gallery/foto-7.jpg" data-type="image" data-fancybox="gallery").galleryMasonry__img.galleryMasonry__item
				img(src="img/gallery/foto-7.jpg", alt="alt")
			a(href="img/gallery/foto-2.jpg" data-type="image" data-fancybox="gallery").galleryMasonry__img.galleryMasonry__item
				img(src="img/gallery/foto-2.jpg", alt="alt")