section.teachersBlock
	h3.teachersBlock__title Наши педагоги
	.wrapper-fluid
		.swiper-container.teachersSlider
			.swiper-wrapper
				.swiper-slide
					.teachersSlide
						.teachersSlide__img
							img(src="img/slider-teacher/teacher-1.jpg", alt="alt")
						.teachersSlide__text
							span.teachersSlide__text-name Галина
							span.teachersSlide__text-name Тодорова-Чебоненко
							span.teachersSlide__text-works Директор центров "Оле Лукойе" и "Be Friends"
				.swiper-slide
					.teachersSlide
						.teachersSlide__img
							img(src="img/slider-teacher/teacher-2.jpg", alt="alt")
						.teachersSlide__text
							span.teachersSlide__text-name Анастасия
							span.teachersSlide__text-name Лотохова
							span.teachersSlide__text-works Монтессори педагог 3-6, 6-9 лет
				.swiper-slide
					.teachersSlide
						.teachersSlide__img
							img(src="img/slider-teacher/teacher-3.jpg", alt="alt")
						.teachersSlide__text
							span.teachersSlide__text-name Полина
							span.teachersSlide__text-name Ронжина
							span.teachersSlide__text-works Монтессори педагог 3-6 лет
				.swiper-slide
					.teachersSlide
						.teachersSlide__img
							img(src="img/slider-teacher/teacher-4.jpg", alt="alt")
						.teachersSlide__text
							span.teachersSlide__text-name Emmanuel
							span.teachersSlide__text-name Bello
							span.teachersSlide__text-works Носитель английского языка
				.swiper-slide
					.teachersSlide
						.teachersSlide__img
							img(src="img/slider-teacher/teacher-5.jpg", alt="alt")
						.teachersSlide__text
							span.teachersSlide__text-name Елена
							span.teachersSlide__text-name Чубукова
							span.teachersSlide__text-works Монтессори педагог 3-6 лет, учитель английского языка
			.swiper-button-prev
				img(src="img/icons/arrow-prev.svg", alt="")
			.swiper-button-next
				img(src="img/icons/arrow-next.svg", alt="")