section.teachersBlock
	h4.teachersBlock__title Наши педагоги
	.wrapper-fluid
		.swiper-container.teachersSlider
			.swiper-wrapper
				.swiper-slide
					.teachersSlide
						.teachersSlide__img
							img(src="img/slider/slide-1.jpg", alt="alt")
						.teachersSlide__text
							span Имя
							span Фамилия
							span Должность
				.swiper-slide
					.teachersSlide
						.teachersSlide__img
							img(src="img/slider/slide-1.jpg", alt="alt")
						.teachersSlide__text
							span Имя
							span Фамилия
							span Должность
				.swiper-slide
					.teachersSlide
						.teachersSlide__img
							img(src="img/slider/slide-1.jpg", alt="alt")
						.teachersSlide__text
							span Имя
							span Фамилия
							span Должность
				.swiper-slide
					.teachersSlide
						.teachersSlide__img
							img(src="img/slider/slide-1.jpg", alt="alt")
						.teachersSlide__text
							span Имя
							span Фамилия
							span Должность
				.swiper-slide
					.teachersSlide
						.teachersSlide__img
							img(src="img/slider/slide-1.jpg", alt="alt")
						.teachersSlide__text
							span Имя
							span Фамилия
							span Должность
			.swiper-button-prev
				img(src="img/icons/arrow-prev.svg", alt="")
			.swiper-button-next
				img(src="img/icons/arrow-next.svg", alt="")