// Block Header
header.headerContainer
	.headerContainer__wrapper
		.headerContainer__brand
			a(href="#").headerContainer__brand-logo
				img(src="img/icons/be-friends_top.png", alt="alt")
			a(href="#").headerContainer__brand-logo
				img(src="img/icons/ole-lukoye_top.png", alt="alt")
			a(href="tel: +7 8452 46-29-75").headerContainer__brand-phone
				img(src="img/icons/phone_top.png", alt="alt")
				span +7 (8452) 46-29-67
		.headerContainer__burger
			span.line
		.headerContainer__menu
			ul
				li
					a(href="#") Наши центры
					ul.menu-down
						li
							a(href="#") Be Friends
						li
							a(href="#") Оле Лукойе
				li
					a(href="#") Методика
				li
					a(href="#") Программы
					ul.menu-down
						li
							a(href="#") от 1,5-3 лет
						li
							a(href="#") от 3-6 лет
						li
							a(href="#") от 6-9 лет
				li
					a(href="#") Педагоги
				li
					a(href="#") Блог
				li
					a(href="#") Контакты