// Block Header
header.headerContainer
	.headerContainer__wrapper
		.headerContainer__brand
			a(href="page-home.html").headerContainer__brand-logo
				img(src="img/icons/be-friends_top.png", alt="alt")
			a(href="page-home.html").headerContainer__brand-logo
				img(src="img/icons/ole-lukoye_top.png", alt="alt")
			a(href="tel: +7 8452 46-29-75").headerContainer__brand-phone
				img(src="img/icons/phone_top.png", alt="alt")
				span +7 (8452) 46-29-67
		.headerContainer__burger
			span.line
		.headerContainer__menu
			ul
				li
					a(href="#") Наши центры
					ul.menu-down
						li
							a(href="page-center_one.html") Be Friends
						li
							a(href="page-center_two.html") Оле Лукойе
				li
					a(href="page-methods.html") Методика
				li
					a(href="#") Программы
					ul.menu-down
						li
							a(href="page-programm_mom.html") от 1,5-3 лет
						li
							a(href="page-programm_childgarden.html") от 3-6 лет
						li
							a(href="page-programm_school.html") от 9-12 лет
				li
					a(href="page-teachers.html") Педагоги
				li
					a(href="#") Блог
				li
					a(href="page-contacts.html") Контакты