.aboutMethodImage
	.aboutMethodImage__star.aboutMethodImage__star_one
		img(src="img/teachers/header/star-25.svg", alt="alt")
	.aboutMethodImage__star.aboutMethodImage__star_two
		img(src="img/teachers/header/star-23.svg", alt="alt")
	.aboutMethodImage__star.aboutMethodImage__star_three
		img(src="img/teachers/header/star-21.svg", alt="alt")
	.aboutMethodImage__circle.aboutMethodImage__circle_one
	.aboutMethodImage__circle.aboutMethodImage__circle_two
	.aboutMethodImage__circle.aboutMethodImage__circle_three
	.aboutMethodImage__circle.aboutMethodImage__circle_four
	.aboutMethodImage__img
		img(src="img/teachers/teachers.png", alt="alt")
section.aboutMethodBlock
	.wrapper
		.aboutMethodContainer
			.aboutMethodText
				h4.aboutMethodText__title Монтессори-педагог
				p.aboutMethodText__descr Его главная задача заинтересовать ребенка, развить его воображение и мышление, показать, как можно получить знание, индивидуально разбирая тему за темой. Монтессори педагогом движет философия гуманного подхода к образованию детей. Он не только имеет высшее образование, но освоил методику на специализированном курсе и постоянно совершенствует свои навыки в профессиональном монтессори сообществе.