section.aboutTeachersBlock
	.aboutTeachersBlock__star.aboutTeachersBlock__star_one
		img(src="img/teachers/objects/star-27.svg", alt="alt")
	.aboutTeachersBlock__star.aboutTeachersBlock__star_two
		img(src="img/teachers/objects/star-26.svg", alt="alt")
	.aboutTeachersBlock__star.aboutTeachersBlock__star_three
		img(src="img/teachers/objects/star-25.svg", alt="alt")
	.aboutTeachersBlock__star.aboutTeachersBlock__star_four
		img(src="img/teachers/objects/star-25.svg", alt="alt")
	.aboutTeachersBlock__star.aboutTeachersBlock__star_five
		img(src="img/teachers/objects/star-26.svg", alt="alt")
	.aboutTeachersBlock__star.aboutTeachersBlock__star_six
		img(src="img/teachers/objects/star-26.svg", alt="alt")
	.aboutTeachersBlock__star.aboutTeachersBlock__star_seven
		img(src="img/teachers/objects/star-27.svg", alt="alt")
	.aboutTeachersBlock__star.aboutTeachersBlock__star_eight
		img(src="img/teachers/objects/star-25.svg", alt="alt")
	.aboutTeachersBlock__circle.aboutTeachersBlock__circle_one
	.aboutTeachersBlock__circle.aboutTeachersBlock__circle_two
	.aboutTeachersBlock__circle.aboutTeachersBlock__circle_three
	.aboutTeachersBlock__circle.aboutTeachersBlock__circle_four
	.aboutTeachersBlock__circle.aboutTeachersBlock__circle_five
	.aboutTeachersBlock__circle.aboutTeachersBlock__circle_six
	h3.aboutTeachersBlock__title Наши педагоги
	.wrapper-fluid
		.aboutTeachers
			.aboutTeachersCart
				.aboutTeachersCart__img
					img(src="img/teachers/ppl-1.png", alt="alt")
				.aboutTeachersCart__text
					h3.aboutTeachersCart__text-name Галина Тодорова-Чебоненко
					span.aboutTeacherCarst__text-education Образование: высшее
					span.aboutTeacherCarst__text-work Директор центров "Оле Лукойе" и "Be Friends
					span.aboutTeacherCarst__text-work Монтессори педагог 3-6, 6-9
			.aboutTeachersCart
				.aboutTeachersCart__img
					img(src="img/teachers/ppl-2.png", alt="alt")
				.aboutTeachersCart__text
					h3.aboutTeachersCart__text-name Ронжина Полина
					span.aboutTeacherCarst__text-education Образование: высшее
					span.aboutTeacherCarst__text-work Монтессори педагог 3-6
			.aboutTeachersCart
				.aboutTeachersCart__img
					img(src="img/teachers/ppl-3.png", alt="alt")
				.aboutTeachersCart__text
					h3.aboutTeachersCart__text-name Анастасия Лотохова
					span.aboutTeacherCarst__text-education Образование: высшее
					span.aboutTeacherCarst__text-work Монтессори педагог 3-6, 6-9
			.aboutTeachersCart
				.aboutTeachersCart__img
					img(src="img/teachers/ppl-4.png", alt="alt")
				.aboutTeachersCart__text
					h3.aboutTeachersCart__text-name Emmanuel Bello
					span.aboutTeacherCarst__text-education Образование: высшее
					span.aboutTeacherCarst__text-work Носитель английского языка
			.aboutTeachersCart
				.aboutTeachersCart__img
					img(src="img/teachers/ppl-5.png", alt="alt")
				.aboutTeachersCart__text
					h3.aboutTeachersCart__text-name Соловьева Елизавета
					span.aboutTeacherCarst__text-education Образование: высшее
					span.aboutTeacherCarst__text-work Монтессори педагог 3-6
			.aboutTeachersCart
				.aboutTeachersCart__img
					img(src="img/teachers/ppl-6.png", alt="alt")
				.aboutTeachersCart__text
					h3.aboutTeachersCart__text-name Евгения Дворцова
					span.aboutTeacherCarst__text-education Образование: высшее
					span.aboutTeacherCarst__text-work Монтессори педагог 3-6
					span.aboutTeacherCarst__text-work Преподаватель орфики
			.aboutTeachersCart
				.aboutTeachersCart__img
					img(src="img/teachers/ppl-7.png", alt="alt")
				.aboutTeachersCart__text
					h3.aboutTeachersCart__text-name Алиса Янбикова
					span.aboutTeacherCarst__text-education Образование: высшее
					span.aboutTeacherCarst__text-work "Носитель" английского языка
			.aboutTeachersCart
				.aboutTeachersCart__img
					img(src="img/teachers/ppl-8.png", alt="alt")
				.aboutTeachersCart__text
					h3.aboutTeachersCart__text-name Елена Чубукова
					span.aboutTeacherCarst__text-education Образование: высшее
					span.aboutTeacherCarst__text-work Учитель английского языка
			.aboutTeachersCart
				.aboutTeachersCart__img
					img(src="img/teachers/ppl-9.png", alt="alt")
				.aboutTeachersCart__text
					h3.aboutTeachersCart__text-name Анастасия Тарасова
					span.aboutTeacherCarst__text-education Образование: высшее
					span.aboutTeacherCarst__text-work Преподаватель архитектуры
			.aboutTeachersCart
				.aboutTeachersCart__img
					img(src="img/teachers/ppl-10.png", alt="alt")
				.aboutTeachersCart__text
					h3.aboutTeachersCart__text-name Наталья Гнетова
					span.aboutTeacherCarst__text-education Образование: среднее медицинское
					span.aboutTeacherCarst__text-work Ассистент Монтессори педагога